.hero {
  height: 380px;

  @include screen(tablet) {
    height: 432px;
  }

  @include screen(desktop) {
    height: 720px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  &--bg {
    background-image: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url('../images/img/mobile/hero-home-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../images/img/mobile/hero-home-img@2x.jpg');
    }

    @include screen(tablet) {
      height: 432px;
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../images/img/tablet/hero-home-img.jpg');
      background-size: 768px;
      background-position: 0, 200px 0;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            79.49deg,
            #111111 34.1%,
            rgba(17, 17, 17, 0) 64.67%
          ),
          url('../images/img/tablet/hero-home-img@2x.jpg');
      }
    }

    @include screen(desktop) {
      height: 720px;
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../images/img/desktop/hero-home-img.jpg');
      background-size: 1280px;
      background-position: 0, 400px 0;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            79.49deg,
            #111111 34.1%,
            rgba(17, 17, 17, 0) 64.67%
          ),
          url('../images/img/desktop/hero-home-img.jpg');
      }
    }
  }

  &__inner {
    height: 380px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include screen(tablet) {
      height: 432px;
      padding-top: 96px;
    }

    @include screen(desktop) {
      height: 720px;
      padding-top: 178px;
      padding-left: 103px;
    }
  }

  &__title {
    width: 250px;
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    margin-bottom: 12px;

    @include screen(tablet) {
      width: 440px;
      font-size: 44px;
      line-height: 1.18;
    }

    @include screen(desktop) {
      width: 475px;
      font-size: 64px;
      line-height: 1.17;
    }

    &--default {
      width: 200px;

      @include screen(tablet) {
        width: 375px;
      }

      @include screen(desktop) {
        width: 465px;
      }
    }
  }

  &__rating {
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $text-color-secondary;
    width: 150px;
    margin-bottom: 20px;

    @include screen(tablet) {
      width: 340px;
      margin-bottom: 28px;
    }

    @include screen(desktop) {
      width: 380px;
    }

    &--trunc {
      width: 180px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include screen(tablet) {
        width: 295px;
      }

      @include screen(desktop) {
      }
    }

    &--add {
      display: none;

      @include screen(tablet) {
        display: inline;
      }
    }
  }
}
