/* FONTS */
$font-primary: 'Roboto', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

/* COLOR */
$color-dark: #111111;
$color-dark-light: #282828;
$color-white: #ffffff;
$color-accent: #f87719;
$color-grey-dark: #595959;
$color-grey: #b7b7b7;
$color-grey-light: #f8f8f8;

/* TEXT COLOR */
$text-color-primary: #ffffff;
$text-color-secondary: #f8f8f8;
$text-color-accent: #f87719;
$text-color-dark: #111111;
$text-color-grey: #b7b7b7;

/* BACKGROUND COLOR */
$bg-dark: #111111;
$bg-white: #ffffff;

$bg-gradient: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
$bg-gradient-rev: linear-gradient(
  141.22deg,
  #f84119 9.4%,
  rgba(248, 159, 25, 0.68) 91.91%
);

/* BORDER COLOR */

/* OTHER */
$transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* variables for icon */
$stroke-color-menu: #000000;
$stroke-color-icon: rgba(0, 0, 0, 0.1);
$fill-color-icon: #ffffff;
$background-color-icon: #285aeb;
