<section class="section catalog">
  <div class="container">
    <div class="catalog__wrap">
      <form class="form-cat catalog__form">
        <input
          class="form-cat__input"
          name="search"
          type="text"
          placeholder="Search..."
          autocomplete="off"
        />
        <button class="form-cat__submit" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <ul class="movie__list catalog__list"></ul>

      <div class="pagination" id="pagination"></div>
    </div>
  </div>
</section>
